.sectionEvent{
    display: flex;
    align-items: center;
    height: 280px;
    margin: 10px 0;
}
.articleEvent{
    width: 330px;
    height: 90%;
    background-color: #FFFF;
    border-radius: 15px;
}
.imgEvent{
    width: 100%;
    height: 70%;
    border-radius: 15px 15px 0 0;
}
.marginLeft{
    margin-left: 8px;
}
.eventDate{
    font-weight: 400;
}

.assistantsEvent{
    font-weight: 500;
}
