*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainHome{
    position: relative;
    height: max-content;
    width: 100%;
    color: #152731
}
.categories{
    position: relative;
    height: 150px;
    width: 100%;
    border-radius: 60px 0 0 0;
    background-color: #D9D9D9;
}
.mainPage{
    background-color: #F8F8F8;
    position: absolute;
    height: max-content;
    width: 100%;
    border-radius: 50px 0 0 0;
}
.containerFather{
    height: max-content;
    margin-left: 30px;
    margin-top: 20px;
}
.h4{
    font-weight: 400;
}
.sectionEvent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    align-items: center;
    height: max-content;
    margin: 10px 0;
}
.linkInfo{
    height:300px;
}

@media (min-width: 1100px){
    .containerFather{
        margin-left: 45px;
    }
}