*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainHome{
    position: relative;
    height: max-content;
    width: 100%;
    color: #152731
}
.categories{
    position: relative;
    height: 150px;
    width: 100%;
    border-radius: 60px 0 0 0;
    background-color: #D9D9D9;
}
.mainPage{
    background-color: #F8F8F8;
    position: absolute;
    height: max-content;
    width: 100%;
    border-radius: 50px 0 0 0;
}
.containerFather{
    height: max-content;
    margin-top: 20px;
}
.h4{
    font-weight: 400;
}
.sectionEvent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    align-items: center;
    height: max-content;
    margin: 10px 0;
    margin: auto;
}
.title{
    padding-left: 35px;
}
.linkInfo{
    height:300px;
}

@media (min-width: 800px){
    .sectionEvent{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
    }
    .title{
        padding-left: 80px;
    }
}

@media (min-width: 1100px){
    .sectionEvent{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 5px;
    }
    .title{
        padding-left: 30px;
    }
}

@media (min-width: 1300px){
    .sectionEvent{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin: auto;
    }
    .title{
        padding-left: 50px;
    }
}