*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    position: relative;
    height: max-content;
    width: 100%;
    color: #152731
}

.events{
    font-weight: 600;
}
.categories{
    position: relative;
    height: 150px;
    width: 100%;
    border-radius: 60px 0 0 0;
    background-color: #D9D9D9;
}
.containerEvents{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 350px;
    height: 50px;
    margin-left: 30px;
}
.buttonStyle{
    font-size: 0.85em;
    font-family: "Poppins";
    color: #152731;
    font-weight: 600;
    border: none;
    background-color: #F8F8F8;
    border-radius: 35px;
    padding: 5px 8px;
}

.mainPage{
    background-color: #F8F8F8;
    position: absolute;
    height: max-content;
    width: 100%;
    border-radius: 50px 0 0 0;
}
.containerFather{
    height: max-content;
    margin-left: 30px;
    margin-top: 20px;
}
.h4{
    font-weight: 400;
}
.sectionEvent{
    display: flex;
    align-items: center;
    height: 280px;
    margin: 10px 0;
}
.articleEvent{
    width: 330px;
    height: 90%;
    background-color: #FFFF;
    border-radius: 15px;
}
.imgEvent{
    width: 100%;
    height: 70%;
    border-radius: 15px 15px 0 0;
}
.marginLeft{
    margin-left: 8px;
}
.eventDate{
    font-weight: 400;
}

.assistantsEvent{
    font-weight: 500;
}