* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #152732;
    color: white;
    font-family: "Poppins", sans-serif;
  }
  
  header a {
    text-decoration: none;
  }
  
  header {
    padding: 0 20px;
    height: 10vh;
    display: flex;
    justify-content: space-between;
  }
  
  #brand {
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  ul li {
    padding: 5px;
    margin-left: 10px;
  }
  
  ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
  
  #login,
  #signup {
    border-radius: 5px;
    padding: 5px 8px;
  }
  
  .hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  .brandA{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .open .mobile-menu a{
    color: #ffffff;
  }
  .mobile-menu {
    margin-top: 15px;
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
  }
  
  .mobile-menu li {
    margin-bottom: 10px;
  }

  
  @media (max-width: 600px) {
    header nav {
      display: none;
    }
  
    .hamburger-icon {
      display: block;
    }

    #brand {
        font-size: 1.5em;
      }

    ul{
        font-size: 1.5em;
        font-weight: bold;
    }

    .mobile-menu {
      background-color: #152732;
    }

    .mobile-menu li{
      margin-top: 15px;
    }
  }
