*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainHomeAdmin{
    position: relative;
    height: max-content;
    width: 100%;
    color: #152731
}
.adminBackground{
    position: relative;
    height: 150px;
    width: 100%;
    border-radius: 60px 0 0 0;
    background-color: #D9D9D9;
}
.mainPageAdmin{
    margin-top: 10px;
    background-color: #F8F8F8;
    position: absolute;
    height: max-content;
    width: 100%;
    border-radius: 50px 0 0 0;
    padding-top: 35px;
    padding-bottom: 30px;
}
.titleAdmin h1{
    font-size: 1.4em;
    margin-left: 20px;
}
.titleAdmin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    margin-left: 20px;
}
.addEvent{
    font-weight: 500;
    color: white;
    background-color: #152731;
    border: none;
    font-size: 1em;
    padding: 5px 10px;
    border-radius: 30px;
    margin-right: 10px;
}
.dashBoardRow{
    display: grid;
    grid-template-columns: 110px repeat(2, 1fr) repeat(2, 27px);
    height: 45px;
    padding: 0 5px;
    align-items: center;
    background-color: rgb(189, 189, 189);
    width: 90%;
    margin: auto;
}
.dashBoardRow:nth-child(even) {
    background-color: rgb(223, 223, 223);
}
.eventCapacity{
    text-align: center;
}

.itemsNone{
    display: none;
}

.line-clap{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.titles{
    display: flex;
    margin: auto;
    display: flex;
    width: 90%;
    justify-content: space-evenly;
}
.pTitles{
    font-size: 1.2em;
    font-weight: 600;
}


@media (min-width: 1100px){
    .dashBoardRow{
        grid-template-columns: repeat(3, 1fr) repeat(3, 30px);
    }
}